<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="fopClient"
      type="Sig.FixedOddsPlatformClients.Configuration.FixedOddsPlatformClientConfigurationSection, Sig.FixedOddsPlatformClients.Configuration"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>

  <appSettings>
    <add key="AMSConnectionString" value="Data Source=IDMM4; Persist Security Info=True; User Id=readonly; Password=sporting; Validate Connection=true; Min Pool Size=0; Max Pool Size=300; Pooling=true; Enlist=true; Connection Lifetime=300; Connection Timeout=30"/>
    <add key="noOfParallelTasks" value="1"/>
    <add key="commandString" value="select * from Amsadmin.accounts a INNER JOIN  Amsadmin.ACCOUNTS_CONTACT_DETAILS ad ON a.ACCOUNTS_ID=ad.ACCOUNTS_ID INNER JOIN AMSADMIN.ACCOUNTS_SETTINGS ass ON a.ACCOUNTS_ID=ass.ACCOUNTS_ID"/>
    <add key="numberOfAccounts" value="10000"/>
    <add key="amsUserId" value="BulkSync alex"/>
    <add key="AMSLoadBalancer" value="devams.gb.sportingindex.com:80"/>
  </appSettings>

  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\AMS BulkSync\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>  
  </log4net>

  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <!--<setting name="TNS_ADMIN" value="C:\TNSNAMES"/>-->
        <setting name="TNS_ADMIN" value="C:\Oracle\product\11.2.0\client_1_x86\network\admin" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

  <fopClient platformEndpoint="http://int-environment-gpp-05.gp-cloud.com/" applicationUser="backoffice" applicationPassword="sg2wWSL5pAN-3!u=" timeout="60000"/>  
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
